body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 150%;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 250px;
    padding-right: 250px;
    /*border: 1px solid rgb(83, 83, 83);*/
}

header{
    text-align: center;
    background-color: rgb(83, 83, 83);
}

img{
    float: left;
    margin-top: 20px;
    margin-left: 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

h1{
    padding: 20px;
    margin: 0px;;
    font-weight: bold;
    font-size: 300%;
    text-align: center;
    color: white;
}

header h2{
    font-size: 200%;
    font-weight: normal;
    margin: 0px;
    padding-bottom: 40px;
    text-align: center;
    color: rgb(180, 180, 180);
}

section span{
    float: left;
    background-color: rgb(223, 223, 223);
    padding: 5px;
    padding-bottom: 7px;
    margin: 0px;
    color: black;
}

h3{
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(61, 123, 216);
}

h3#perfil{
    margin-top: 0px;
    padding-top: 10px;
}

h4{
    margin: 0px;
}

h5{
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(83, 83, 83);
}

ul{
    margin-top: 0px;
}

ul.exp{
    margin-bottom: 5px;
}

section#experiencias{
    margin-left: 370px;
}

i{
    margin-right: 5px;
}

p{
    margin: 0px;
}